kestrel-jupyter

# analytics::dataexfiltration
flask
flask-cors
tabulate

# analytics::log4shell
urllib3

# analytics::piniponmap
geoip2
folium

# analytics::sklearn-cluster
scikit-learn
gower

# analytics::suspiciousscoring
business-rules

# analytics::attribute-plot
matplotlib
